h1,
h2,
h3,
h4 {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0.5rem 1rem;
  border-left: 3px solid $primary-500;
  background-color: $gray-100-color;
  color: $background-color-light;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.title {
  text-align: center;
}

p {
  font-size: 1rem;
  font-family: 400;
  margin: 0.5rem;
}

nav {
  background-color: $secondary-500;
  color: $white-color;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 0 1px 2px $background-color;
}

button {
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;

  font-weight: 600;
  background-color: $primary-700;
  color: $white-color;
  border: none;

  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $primary-500;
  }
}

.btn-secondary {
  background-color: $secondary-600;
  color: $white-color;
  &:hover {
    background-color: $secondary-500;
  }
}

input[type="text"] {
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  background-color: $gray-100-color;
  border: 1px solid $gray-400-color;
  font-size: 1rem;
  font-weight: 600;

  &:focus {
    outline: none;
    border-color: $primary-500;
    background-color: $gray-200-color;
  }
}

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid $gray-700-color;
}

.ml-1 {
  margin-left: 1rem;
}
